<div class='all-contents'>
  <%= render "boxes/sideber" %>
  <div class='central-contents'>
    <%= render "shared/header" %>
    <div class='main-contents'>

    <div class='main-contents-shere'>
      <div class='comic-new-space'>
        <h2 class="comics-add-title">漫画の情報を入力</h2>
        <%= form_with model: @comicshelf, url:comics_path, local: true do |f| %>
              <%= render 'shared/error_messages', model: f.object %>
        <%= f.file_field :image, id:"item-image" %>
        <div class="new-comics">
          <div class="weight-bold-text">
            タイトル
          </div>
          <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"作品タイトルを入力してください", maxlength:"20" %>
          <div class="comics-explain">
            <div class="weight-bold-text">
              作者名
            </div>
            <%= f.text_area :author, class:"items-text", id:"item-info", placeholder:"作者名を入力してください" ,maxlength:"10" %>
          </div>
          <div class="comics-explain">
            <div class="weight-bold-text">
              巻数
            </div>
            <%= f.number_field :volume, class:"volume-text", id:"volume-info", placeholder:"1", value:"1" %>
          </div>
          <div class="shelfs-explain">
            <div class="shelf-text">
              同時に本棚に追加する場合はチェック
            </div>
            <%= f.check_box :user_ids, {checked: true}, current_user.id, :nil %>
            <%# <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:"select-box", id:"comic-prefecture"}) %> 
          </div>
        </div>
        <div class="sell-btn-contents">
          <%= f.submit "登録" ,class:"comicadd-btn" %>
          <%=link_to 'もどる', root_path, class:"back-btn" %>
        </div>
        </div>
        <% end %>
    </div>

    </div>
    <%= render "shared/footer" %>
  </div>
</div>