<%= render "shared/header" %>
<div class='main-contents'>
<%= render "boxes/sideber" %>

<%= form_with(url: search_comics_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <% @comics.each do |comic| %>
    <%= render partial: "comic", locals: { comic: comic } %>
  <% end %>
</div>


<%= render "shared/footer" %>