<div class='all-contents'>
  <%= render "boxes/sideber" %>
  <div class='central-contents'>
    <%= render "shared/header" %>
    <div class='main-contents'>

      <%= form_with model: @comic, url: search_comics_path, local: true, method: :get, class: "search-form" do |form| %>
        <%= form.text_field :keyword, placeholder: "タイトルで検索する", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>

      <%# <%= form_with model: @box, url: boxes_path, local: true, method: :post, class: "search-form" do |form| %> 
        <ul class="list-comic">
          <% @comics.each do |comic| %>
            <%= render partial: "comics/comic", locals: { comic: comic } %>
          <% end %>
          <%# <%= form.check_box :comic_id, {}, @comic.id, :nil %> 
        </ul>
      <%# <%= form.submit "まとめて追加", class: "search-btn" %>  
      <%# <% end  %> 


    </div>
    <%= render "shared/footer" %>
  </div>
</div>