<div class='all-contents'>
  <%= render "boxes/sideber" %>
  <div class='central-contents'>
    <%= render "shared/header" %>
    <div class='main-contents'>

      <div class='main-contents-shere'>
        <div class="contents-in">
          <div class="contents-image">
            <%= image_tag @comic.image, class: "comic-show-img" %>
          </div>
          <div class="contents-info">
            <div class="contents-title">
              <h1 class="contents-bigtitle">タイトル</h1>
              <span class="content-show"><%= @comic.title %></span>
            </div>
            <div class="contents-title">
              <h1 class="contents-bigtitle">作者</h1>
              <span class="content-show"><%= @comic.author %></span>
            </div>
            <%= form_with model: @box, url: boxes_path, local: true, method: :post, class: "comicshelf-add" do |form| %>
              <%= form.check_box :comic_id, {}, @comic.id, :nil %>
              <%= form.submit "本棚に追加する", class: "comicshelf-btn" %>  
            <% end %>
          </div>
        </div>
        <%=link_to 'もどる', search_boxes_path, class:"back-btn" %>
      </div>
    </div>
    <%= render "shared/footer" %>
  </div>
</div>