<%= render "shared/header" %>
<div class='main-contents'>
<%= render "boxes/sideber" %>

<div class="item-show">
    <%= image_tag @comic.image, class: "comic-img" %>
    <%= @comic.title %>
    <%= @comic.author %>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <a href="#" class="another-item"><%=  %>をもっと見る</a>
</div>
</div>
<%= render "shared/footer" %>
