<div class='all-contents'>
  <%= render "boxes/sideber" %>
  <div class='central-contents'>
    <%= render "shared/header" %>
    <div class='main-contents'>

      <div class="contents-in">
          <%= image_tag @comic.image, class: "comic-show-img" %>
          <%= @comic.title %>
          <%= @comic.author %>
          <%= form_with model: @box, url: boxes_path, local: true, method: :post, class: "search-form" do |form| %>
          <%= form.check_box :comic_ids, {}, @comic.id, :nil %>
          <%= form.submit "本棚に追加", class: "search-btn" %> 
          <% end %>
      </div>



    </div>
    <%= render "shared/footer" %>
  </div>
</div>