<div class='side-bar'>
  <header class= 'logo-space'>
    <div calss= 'logo'>
    <%=link_to 'Comic Box', root_path, class:"title-log-btn" %>
      
    </div>
  </header>
  <div class='sidebar-contents'>
    <ul>
      <li>
        <% if user_signed_in? %>
          <%= link_to(new_comic_path, class: 'sidebar-btn') do %>
            <span class='sidebar-btn-text'>漫画を追加</span>
          <% end %>
        <% else %>
          <%= link_to(new_user_session_path, class: 'sidebar-btn') do %>
            <span class='sidebar-btn-text'>漫画を追加</span>
          <% end %>
        <% end %>
      </li>
      <li>
        <%= link_to(search_comics_path, class: 'comic-shelf-btn') do %>
          <span class='comic-shelf-btn-text'>本棚に追加する本を探す</span>
        <% end %>
      </li>
      <li>
        <%= link_to(boxes_index_path, class: 'sideber-btn') do %>
          <span class='sidebar-btn-text'>本棚へ</span>
        <% end %>
      </li>
    </ul>
  </div>
  <div class='side-footer'>
  </div>
</div>



