<div class='all-contents'>
  <%= render "boxes/sideber" %>
  <div class='central-contents'>
    <%= render "shared/header" %>
    <div class='main-contents'>

      <h2 class="comics-add-title">さんの本棚</h2>
      <%# <% 検索フォーム %> 
      <div class='serch-form-space'>
      <%= form_with model: @box, url: search_boxes_path, local: true, method: :get, class: "search-form" do |form| %>
        <%= form.text_field :keyword, placeholder: "題または作者名を入力", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
      </div>
      <%# <% 検索フォーム %> 

    <div class='main-contents-shere'>
      <ul class='list-comic'>
        <%= render partial: 'box', collection: @boxes %>
      </ul>
    </div>

    </div>
    <%= render "shared/footer" %>
  </div>
</div>



