<div class='all-contents'>
  <%= render "boxes/sideber" %>
  <div class='central-contents'>
    <%= render "shared/header" %>
    <div class='main-contents'>

      <div class="contents-in">
          <%= image_tag @box.comic.image, class: "comic-show-img" %>
          <%= @box.comic.title %>
          <%= @box.comic.author %>
        <div class="links">
        </div>
      </div>

    </div>
    <%= render "shared/footer" %>
  </div>
</div>
